<button id="show-post-form">投稿</button>
<div class="background-post-form"></div>
<div class="post-form">
  <button id="close-post-form">✖</button>
  <form action="/post" method="POST">
    <textarea placeholder="何かを投稿..." name="text"></textarea>
    <button type="submit">投稿</button>
  </form>
</div>