<div class="report-menu" data-postid="">
    <button id="close-report-form">✖</button>
    <form id="report-form">
      <div class="radio-buttons-list">
        <div class="report-list-title">
          <span>この投稿を報告する理由</span>
        </div>
        <label>
          <div class="report-content"><span>ヘイトスピーチ</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="HATE_SPEECH"></div>
        </label>
        <label>
          <div class="report-content"><span>攻撃的な行為や嫌がらせ</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="HARASSMENT"></div>
        </label>
        <label>
          <div class="report-content"><span>暴力的な発言</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="VIOLENT_CONTENT"></div>
        </label>
        <label>
          <div class="report-content"><span>チャイルドセーフティ</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="CHILD_SAFETY"></div>
        </label>
        <label>
          <div class="report-content"><span>プライバシー</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="PRIVACY_VIOLATION"></div>
        </label>
        <label>
          <div class="report-content"><span>スパム</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="SPAM"></div>
        </label>
        <label>
          <div class="report-content"><span>自殺や自傷行為</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="SELF_HARM"></div>
        </label>
        <label>
          <div class="report-content"><span>ヌードや性的コンテンツ</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="SENSITIVE_CONTENT"></div>
        </label>
        <label>
          <div class="report-content"><span>虚偽の情報</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="FALSE_IDENTITY"></div>
        </label>
        <label>
          <div class="report-content"><span>暴力行為やヘイト行為の主体</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="VIOLENCE_HATE_SOURCE"></div>
        </label>
        <label>
          <div class="report-content"><span>悪質なネタバレ</span></div>
          <div class="report-radio-button"><input type="radio" name="reportReason" value="SPOILER"></div>
        </label>
      </div>
      <div class="report-submit">
        <button id="report-submit" type="submit" disabled>送信</button>
      </div>
    </form>
  </div>