<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ブックマーク</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
</head>

<body>
  <%- include("./includes/sidebar") %>
  <div class="container">
    <%- include("./includes/timeline") %>
  </div>
  <%- include("./includes/post-form") %>
  <%- include("./includes/report-form") %>
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="/javascript/index.js"></script>
</body>

</html>