<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>アカウントを削除</title>
</head>

<body>
    <p>本当にアカウントを削除しますか？</p>
    <form action="/delete-account" method="POST">
        <button type="submit">はい</button>
    </form>
    <button onclick="location.href='/'">いいえ</button>
</body>

</html>