<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/login.css">
</head>

<body>
    <hgroup>
        <h1>Welcome Back!</h1>
        <h3>Flowry</h3>
    </hgroup>
    <form action="/login" method="POST">
        <div class="group">
            <input type="email" name="email"><span class="highlight"></span><span class="bar"></span>
            <label>Email</label>
        </div>
        <div class="group">
            <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
            <label>Password</label>
        </div>
        <button type="submit" class="button buttonBlue">Login
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        <div class="signup">
            <span class="message">Not registered? <a href="/signup">Create an account</a></span>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascript/login.js"></script>
</body>

</html>