<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/signup.css">
</head>

<body>
    <% if (title === 'サインアップ') { %>
        <hgroup>
            <h1>Create Account</h1>
            <h3>Flowry</h3>
        </hgroup>
        <form action="/signup" method="POST">
            <div class="group">
                <input type="text" name="name"><span class="highlight"></span><span class="bar"></span>
                <label>Name</label>
            </div>
            <div class="group">
                <input type="email" name="email"><span class="highlight"></span><span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="group">
                <input type="password" name="password"><span class="highlight"></span><span class="bar"></span>
                <label>Password</label>
            </div>
            <button type="submit" class="button buttonBlue">Sign Up
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
            <div class="login">
                <span class="message">Already registered? <a href="/login">Login</a></span>
            </div>
        </form>
    <% } else if (title === 'アカウントの確認') { %>
        <p>アカウント確認メールを送信しました。届いたメールから認証を進めてください。</p>
    <% } %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascript/login.js"></script>
</body>

</html>